:root {
    --color-black: #161623;
    --color-white: #ffffff;
    --color-blue: #094269;

    --text-align: center;
    --align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

html, body {
    background-color: var(--color-white);
    color: var(--color-white);
}

header {
    background-image: linear-gradient(to right, #220833, #1d1f21);
    color: var(--color-white);
    position: fixed;

    display: flex;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;

    align-items: var(--align-items);
    text-align: var(--text-align);
    padding: 0.3em;

}

#port-h2 {
    font-size: 45px;
}

.nav-bar {
    display: flex;
    gap: 6rem;

    font-size: 20px;
    font-weight: 600;

    cursor: pointer;
    align-items: var(--align-items);
}

.nav-bar > a {
    position: relative;
    color: var(--color-white);
    letter-spacing: 1px;
}

.nav-bar a::after {
    content: "";
    position: absolute;
    background-color: var(--color-white);

    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.7s all;
}

.nav-bar a:hover {
    color: var(--color-white);
}

.nav-bar a:hover::after {
    width: 100%;
}

.section-formacao {
    background-image: linear-gradient(to right, #220833, #1d1f21);
    text-align: var(--text-align);
    align-items: var(--align-items);
    line-height: 2em;
    height: 175vh;
}

.section-formacao > h2 {
    padding-top: 130px;
    font-size: 45px;
}

.p-formacao {
    margin-left: 20px;
}

.p-formacao > p {
    margin-top: 60px;
    font-size: 22px;
}

#p-I, #p-III, #p-V {
    margin-left: -40px;
}

#p-II, #p-IV {
    margin-left: -40px;
}


/*----- Formação Complementar -----*/

.section-formacao-complementar {
    background-image: linear-gradient(to right, #220833, #1d1f21);
    text-align: var(--text-align);
    align-items: var(--align-items);
    line-height: 2em;
    height: 100vh;
}

.section-formacao-complementar > h2 {
    margin-top: -80px;
    font-size: 45px;
}

.p-formacao-complementar > p {
    margin-top: 60px;
    font-size: 22px;
}

#p-complementar-I, #p-complementar-III, #p-complementar-V {
    margin-left: -40px;
}

#p-complementar-II, #p-complementar-IV {
    margin-left: -40px;
}



@media (min-width: 768px) and (max-width: 1366px) {
    
    header {
        background-image: linear-gradient(to right, #220833, #1d1f21);
        padding: 0.3em;
    }

    /*----- Formação -----*/

    .section-formacao {
        background-image: linear-gradient(to right, #220833, #1d1f21);
        text-align: var(--text-align);
        align-items: var(--align-items);
        line-height: 2em;
        height: 250vh;
    }

    .section-formacao > h2 {
        padding-top: 130px;
        font-size: 45px;
    }

    .p-formacao {
        margin-left: 30px;
    }

    .p-formacao > p {
        margin-top: 110px;
        font-size: 22px;
    }

    #p-I, #p-III, #p-V {
        margin-left: -90px;
    }

    #p-II, #p-IV {
        margin-left: -88px;
    }

    /*----- Formação Complementar -----*/
    
    .section-formacao-complementar {
        background-image: linear-gradient(to right, #220833, #1d1f21);
        height: 140vh;
    }

    .section-formacao-complementar > h2 {
        margin-top: -90px;
    }

    #p-complementar-I, #p-complementar-III, #p-complementar-V {
        margin-left: -90px;
    }

    #p-complementar-II, #p-complementar-IV {
        margin-left: -88px;
    }
}